<div class="container">
  <div class="row mt-5">
    <div class="col-3">
      <div class="form-group">
        <label for="giaTriGiaoDich">Giá trị giao dịch</label>
        <input
          [(ngModel)]="giaTriGiaoDich"
          type="number"
          class="form-control"
          id="giaTriGiaoDich"
        />
      </div>
    </div>
    <div class="col-8">
      <div class="form-group">
        <label for="nhomLoaiHinhGiaoDich">Nhóm loại hình giao dịch</label>
        <select
          class="form-control"
          id="nhomLoaiHinhGiaoDich"
          (change)="chonNhomGiaoDich($event)"
        >
          <option
            *ngFor="let item of nhomLoaiHinhGiaoDich"
            [value]="item.value"
          >
            {{ item.text }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-1">
      <div class="form-group">
        <label for="nhomLoaiHinhGiaoDich">&nbsp;</label>

        <button type="submit" class="btn btn-success" (click)="submit()">
          Submit
        </button>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <div>
        <b>T</b> (tổng giá trị các giao dịch) hiện tại:
        <span class="badge badge-success" style="font-size: 1rem">
          {{ tongGiaTriCacGiaoDich | number }}
        </span>
      </div>
      <div class="mt-3">
        <b>Tksth</b> (tổng giá trị các giao dịch loại A/B) hiện tại:
        <span class="badge badge-warning" style="font-size: 1rem">
          {{ tongGiaTriCacGiaoDichLoaiAB | number }}
        </span>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <table class="table table-bordered table-striped">
        <thead class="table-warning">
          <tr>
            <th>ID</th>
            <th>Giá trị giao dịch</th>
            <th>Loại giao dịch</th>
            <th>Nhóm loại hình giao dịch</th>
            <th>(T) trước đó</th>
            <th>(Tksth) trước đó</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let giaoDich of danhSachGiaoDich">
            <td>{{ giaoDich.id }}</td>
            <td>{{ giaoDich.giaTriGiaoDich | number }}</td>
            <td>{{ giaoDich.loaiGiaoDich }}</td>
            <td>{{ giaoDich.nhomLoaiHinhGiaoDich }}</td>
            <td>
              {{ giaoDich.tongGiaTriCacGiaoDichTruocDo | number }}
            </td>
            <td>
              {{ giaoDich.tongGiaTriCacGiaoDichLoaiABTruocDo | number }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
